URL=http://agiecom06
#URL=http://agiecom05
URI="/images/items"
IMG_TYPE="items zoom thumb"
#SRC_FILE_PATH="//agifs/it/itops/ecom_webstore/images_check/v11/data"
SRC_FILE_PATH="//agiecom07/c$/data/web_metrics/responsys"
SRC_IMAGE_ROOT_PATH="//agiecom05/c$/inetpub/webstore"
EMAIL="change@agi.ca"
#EMAIL="change@agi.ca,salemwallam@agi.ca,codreanua@agi.ca,khann@agi.ca"

